@model BudgetBuddy.Models.UserExpenseViewModel
@using BudgetBuddy.Models
@{
    ViewBag.Title = "GetUserExpenses";


}
<h2>Percentage Calculator</h2>
<table>
    <thead>
        <tr>
            <th>
                <label>@Html.DisplayNameFor(model => model.Expenses[0].billName)</label>
            </th>

            <th>
                <label>@Html.DisplayNameFor(model => model.Expenses[0].billPrice)</label>
            </th>
            <th>
                <label>Calculate Percentage</label>
            </th>
            <th>
                <label>Result</label>
            </th>
        </tr>
    </thead>
    <tbody id="expenseTableBody">
        @*JQUERY appended here*@
    </tbody>


</table>


<p id="totalSavings">
</p>




@Scripts.Render("~/bundles/jquery")
<script>


    @foreach (Expense expense in Model.Expenses)
    {
        <text>
        $("#expenseTableBody").append("<tr><td>@expense.billName</td><td id='price" + @expense.expenseId + "'>@expense.billPrice</td><td><input id='@expense.expenseId' type='text'></input></td><td id='result" + @expense.expenseId +"'></td></tr>");
        </text>

    }

    $("input[type=text]").change(function () {

        let percent = $(this).val() / 100;

        if (percent !== NaN) {

            $("#result" + this.id).html($("#price" + this.id).html() * percent);
        }
    });
    


</script>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].billName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].billPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].purchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].recurringExpense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expenses[0].savingPercentage)
        </th>



        <th></th>
    </tr>




    @foreach (var item in Model.Expenses)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.billName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.billPrice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.purchaseDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.recurringExpense)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.savingPercentage)
    </td>

    <td></td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.expenseId }) |
        
        @Html.ActionLink("Delete", "Delete", new { id = item.expenseId })
    </td>
</tr>
    }

</table>
<p>Total Amount Of Expenses: $ @Model.TotalExpenses </p>
<p>Total Amount of Bills Being Saved: $@Model.TotalSavings  </p>

