@model BudgetBuddy.Models.UserExpenseViewModel
@using BudgetBuddy.Models
@{
    ViewBag.Title = "GetUserExpenses";

    //Expense firstExpense = Model.FirstOrDefault();
}

<table>
    <thead>
        <tr>
            <th>
                <label>@Html.DisplayNameFor(model => model.Expenses[0].billName)</label>
            </th>

            <th>
                <label>@Html.DisplayNameFor(model => model.Expenses[0].billPrice)</label>
            </th>
            <th>
                <label>Calculate Percentage</label>
            </th>
            <th>
                <label>Result</label>
            </th>
        </tr>
    </thead>
    <tbody id="expenseTableBody">
        @*JQUERY appended here*@
    </tbody>
</table>

@Scripts.Render("~/bundles/jquery")
<script>
    @foreach (Expense expense in Model.Expenses)
    {
        <text>
        $("#expenseTableBody").append("<tr><td>@expense.billName</td><td id='price" + @expense.expenseId + "'>@expense.billPrice</td><td><input id='@expense.expenseId' type='text'></input></td><td id='result" + @expense.expenseId +"'></td></tr>");
        </text>

    }

    $("input[type=text]").change(function () {
        
        let percent = $(this).val() / 100;
        
        if (percent !== NaN) {
            
            $("#result" + this.id).html($("#price" + this.id).html() * percent);
        }
    });

    

</script>
