@model IEnumerable<BudgetBuddy.Models.Expense>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.billName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.billPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.purchaseDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.billName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.billPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.purchaseDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.expenseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.expenseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.expenseId })
        </td>
    </tr>
}

</table>
