@model BudgetBuddy.Models.UserExpenseViewModel
@using BudgetBuddy.Models
@{
    ViewBag.Title = "GetUserWishlist";
}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h2 align="center">My Wishlist Items</h2>


@for (int i = 0; i < Model.WishlistItems.Count; i++)
{
    <table>
        
        <tr align="center">
            <td>
                @Html.DisplayFor(modelItem => Model.WishlistItems[i].wishListName)
                
            </td>
        </tr>
        <tr align="center">
            <td>
                @Html.DisplayFor(modelItem => Model.WishlistItems[i].wishListPrice)
                
            </td>
            
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Click To Delete", "Delete", new { id = Model.WishlistItems[i].wishListId }) 
                @if (Model.WishlistItems[i].wishListPrice <= Model.TotalSavings)
                {
                   @Html.ActionLink(" | Click To Purchase", "Purchase", new { id = Model.WishlistItems[i].wishListId })
                }

            </td>
            
        </tr>
        <tr>
            <td width="1%">
                <div class="progress w3-red">
                    <div class="progress-bar bg-success w3-green" role="progressbar" aria-valuemax="100" aria-valuemin="0" aria-valuenow="@Model.Progress[i].ToString()" style="width:@Model.Progress[i].ToString()%">@Model.Progress[i].ToString()%</div>
                </div>

            </td>
        </tr>

    </table>

    <script>
    @{ decimal currentMonth = 2;


    }



    </script>
}
<br />

<p align="center">Total Amount of Bills Being Saved: $@Model.TotalSavings  </p>


<p> @Html.ActionLink("Back To Details", "Index", "Home")</p>

