@model BudgetBuddy.Models.WishList
@using BudgetBuddy.Models
@{
    ViewBag.Title = "Purchase";
}



<h3>Do You Want To Purchase this Item?</h3>
<div>
    <h4>WishList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.wishListName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wishListName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wishListPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wishListPrice)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Purchase" class="btn btn-default" /> 

        </div>
        <p> @Html.ActionLink("Back To Details", "Index", "Home")</p>
    }
</div>
@{ 
    
}