@model BudgetBuddy.Models.Class1[]

@{
    ViewBag.Title = "SearchResults";
}

<h2>SearchResults</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => Model[0].title)
        </td>
        <td>
            @Html.DisplayNameFor(model => Model[0].price)
        </td>
        <th></th>
    </tr>


</table>
@for (int i = 0; i < Model.Length; i++)
{
<table>
    <tr>
        <td>
            @Html.DisplayFor(model => Model[i].title)
        </td>
        <td>
            |$
        </td>
        <td>
            @Html.DisplayFor(model => Model[i].price)
        </td>
        <td>

        </td>
        <td>
            @Html.ActionLink("Select", "UpdateWishlistItem", new { name = Model[i].title, price = Model[i].price })
        </td>
    </tr>
</table>
    
        
}
    




