@model BudgetBuddy.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.streetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.streetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monthlyIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthlyIncome)
        </dd>




    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index") |
<<<<<<< HEAD
    @Html.ActionLink("View Expenses", "GetUserExpenses", "Expenses") |
    @Html.ActionLink("Enter Expense", "Create", "Expenses")
=======
    @Html.ActionLink("Enter Expense", "Create", "Expenses") |
    @Html.ActionLink("Wish List", "Create", "WishList")
>>>>>>> 3fee49e2723368a79e3be9f4d4202d86b1628243
</p>
