@model BudgetBuddy.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>@Model.firstName @Model.lastName</h2>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.streetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.streetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stateCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stateCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.zipcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.zipcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monthlyIncome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monthlyIncome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>



    </dl>
</div>

<div>
    @Html.ActionLink("Edit Your Details", "Edit", new { id = Model.Id })     
</div>
<div>
    @Html.ActionLink("View Expenses and Calculate Savings", "GetUserExpenses", "Expenses") 
    
</div>
<div>
    @Html.ActionLink("Enter Expense", "Create", "Expenses") 
</div>
<div>
    @Html.ActionLink("View Wishlist", "GetUserWishlist", "Wishlist") 
</div>
<div>    
    @Html.ActionLink("Enter Specific Wishlist Item", "Create", "WishList") 
</div>
<div>
    @Html.ActionLink("Search For A Wishlist Item", "Search", "WishList")
</div>
